# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# App data
~/.switch_router_gui/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
